<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <title>License</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    </head>
    <body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
     {% include 'admin/components/header.html' %}
     <main>
        <div class="flex">
        <div class="leftbar w-1/6"> 
        {% include 'admin/components/leftbar.html' %}
        </div>
        
        <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
        <div class="flex flex-col">
        <div class="-m-0.5 overflow-x-auto">
        <div class="p-0.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
             <table class="table-fixed">
                        <thead>
                            <tr>
                            <th class="w-1/2 px-24 py-12">ID</th>
                            <th class="w-1/2 px-24 py-12">NAME</th>
                            <th class="w-1/2 px-24 py-12">DESCRIPTION</th>
                            <th class="w-1/2 px-24 py-12">TYPE</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                            <td class="border px-4 py-2">{{item.id}}</td>
                            <td class="border px-4 py-2">{{item.name}}</td>
                            <td class="border px-4 py-2">{{item.desc}}</td>
                            <td class="border px-4 py-2">{{item.type}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>   
        </div>
         </div>
     </main>
    </body>
</html>